.i-win {
    position: absolute;
    right: 0px;
    top: 50px;
    height: 88%;
    width: 550px;
    /* border: 1px solid black; */
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    /* border-radius: 20px; */
    background-color: white;
    box-shadow: 0px 0px 15px -5px #4A5568;
    overflow-y: auto;
    z-index: 15;
    transition: right 0.5s;
}

.i-btn {
    position: absolute;
    background-color: white;
    height: 50px;
    width: 50px;
    right: 550px;
    top: 70px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.5s;
}

.dis-hi {
    display: none;
}

#i-checkbox:checked + .i-btn {
    right: calc(550px - 500px);
}

#i-checkbox:checked + .i-btn + .i-win{
    right: -500px;
}